[run]
source = timestring
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = 
    venv/*
    tests/*
    _*
    setup.py
